*.py[co]
env/
.idea
*.log
logs/
*.sqlite
instance/
__pycache__
.pytest_cache
.coverage
.vscode/settings.json

## Passenger web app files
tmp/
passenger.*

## The repo on which all depends
shotglass2/
#### in case it change the name
shotglass/
### the shared inventory project
inventory/
### The Staffing repo
staffing/
### The bikematch repo
bikematch/
